<nav class="navbar navbar-dark fixed-top navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-primary" routerLink=''><h5><B>Ranga Travels</B></h5></a>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">    
          <a class="navbar-brand" routerLink=''><img src="../../../assets/bus.png" alt="" class="brand"></a>
        </h5> -->
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link  " routerLink='/offers' routerLinkActive="active" > <i class="bi bi-tags"></i> offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Get-free-rides" routerLinkActive="active">Get Free Rides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
              My Booking 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Print Booking </a></li>
              <li><a class="dropdown-item" routerLink=""> Cancel Booking</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> Login/Register
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Login </a></li>
              <li><a class="dropdown-item" routerLink=""> Register</a></li>
            </ul>
          </li>
        </ul>
      
      </div>
    </div>
  </div>
</nav>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer class="fixed-bottom"></app-footer>
